// ========== Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Rouge+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 300ms ease;
}

// ========== Variables
$head-font: 'Rouge Script', cursive;

$color-neutral-light: #FFFFFE;
$color-background: #0D1117;
$color-surface: #21262D;
$color-primary: #ED1955;
$color-secondary: #19EDB1;

$color-information: #0569FF;
$color-success: #3AC430;
$color-pending: #FE9705;
$color-error: #FF0800;

html{

    &::-webkit-scrollbar{
        width: .5vw;
    }

    &::-webkit-scrollbar-thumb{
        background: $color-neutral-light;
    }
    
    &::-webkit-scrollbar-track{
        background: $color-background;
    }
}
section{
    min-height: 100vh;
    padding: 100px 40px 40px 40px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button, input{
    background: none;
    outline: none;
    border: none;
}

@mixin words-limit($limit) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $limit;
}

@mixin icon-requirements ($content) {
    content: $content;
    display: flex;
    font-family: "Font Awesome 6 Free";
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

@keyframes zoom_bounce {
    0%{
        opacity: 0;
        scale: (0);
    }
    50%{
        opacity: 1;
        scale: (1.1);
    }
    100%{
        opacity: 1;
        scale: (1);
    }
}
@keyframes fadeOut {
    0% {
        left: 30px;
        opacity: 0;
    }
    100% {
        left: 40px;
        opacity: 1;
    }
}

// ========== Login Page
.login-page{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-background;

    .login-container{
        position: relative;
        width: 400px;
        height: 500px;
        border-radius: 40px;
        overflow: hidden;
        z-index: 1;

        .login-box, .signup-box{
            position: absolute;
            inset: 0;
            width: 400px;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding: 50px 0 20px 0;
            border-radius: inherit;
            gap: 40px;
            transition: all 500ms ease;

            .head-title{
                font-size: 30px;
                font-weight: 700;
                text-transform: capitalize;
                color: $color-neutral-light;
            }

            form{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .input-box, .submit{
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 20px;
                    background: $color-background;
                    border-radius: 25px;

                    i{
                        font-size: 26px;
                        color: $color-surface;
                    }

                    input{
                        width: 250px;
                        background: none;
                        color: $color-neutral-light;
                    }
                }

                .submit{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: capitalize;
                    color: $color-neutral-light;
                    border: 1px solid rgba(255, 255, 255, 0.25);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                    border-right: 1px solid rgba(255, 255, 255, 0.15);
                    cursor: pointer;
                }

                .fp-password{
                    text-align: center;
                    font-size: 14px;
                    color: $color-neutral-light;
                    opacity: .6;
    
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }

        .login-box{
            z-index: 2;
            background: $color-surface;
        }

        .signup-box{
            background: $color-background;
            z-index: 3;
            translate: 0 420px;
            scale: (.8);
            gap: 30px;
        }

        &.signup-form_active{

            .signup-box{
                padding-top: 10px;
                background: $color-surface;
                translate: 0 0;
                scale: (1);
            }
        }

        .account-confirmation{
            display: flex;
            gap: 5px;

            h5, button{
                font-size: 16px;
                color: $color-neutral-light;
            }

            button{
                opacity: .7;

                &:hover{
                    color: $color-secondary;
                    opacity: 1;
                }
            }
        }
    }
}

// ========== Dashboard Page
.dashboard{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before{
        content: '';
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background: $color-background;
        z-index: -100;
    }
    
    .aside-navigation{
        position: fixed;
        inset: 0;
        width: 70px;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        padding: 50px 22px;
        background: $color-surface;
        border-radius: 0 30px 30px 0;
        z-index: 100;

        .head-logo{
            position: absolute;
            left: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            color: $color-neutral-light;
        }

        nav{
            position: relative;
            height: 80vh;
            padding-top: 100px;

            ul{
                display: flex;
                flex-direction: column;
                gap: 30px;

                li{
                    
                    a{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span{
                            color: $color-neutral-light;

                            &:hover{
                                color: $color-secondary;

                                + h3{
                                    left: 40px;
                                    display: block;
                                    animation: fadeOut 500ms ease;
                                }
                            }
                        }

                        h3{
                            display: none;
                            position: absolute;
                            left: 40px;
                            width: fit-content;
                            height: fit-content;
                            padding: 7px 12px;
                            background: $color-background;
                            color: $color-neutral-light;
                            font-size: 16px;
                            text-transform: capitalize;
                            border-radius: 10px;

                            &::before{
                                content: '';
                                position: absolute;
                                left: -5px;
                                top: calc(50% - 5px);
                                width: 10px;
                                height: 10px;
                                rotate: 45deg;
                                background: $color-background;
                            }
                        }
                    }

                    &:first-child{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $color-neutral-light;
                        cursor: pointer;
                        
                        span{
                            font-size: 30px;
                        }

                        &:hover{
                            color: $color-secondary;
                        }
                    }

                    &:last-child{
                        position: absolute;
                        bottom: 0;

                        &:hover{

                            span{
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
        }

        &.expand-navigation{
            width: 250px;
            align-items: flex-start;

            nav{

                ul{

                    li{

                        &:first-child{
                            rotate: 180deg;
                        }

                        a{
                            
                            span{

                                &:hover{

                                    + h3{
                                        animation: none;
                                        color: $color-secondary;
                                    }
                                }
                            }

                            h3{
                                display: block;
                                background: none;

                                &::before{
                                    display: none;
                                }
                            }
                        }

                        &:last-child{
    
                            &:hover{
    
                                h3{
                                    color: $color-primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.expand-navigation{
        margin-left: 160px;
        width: calc(100% - 160px);
        align-items: flex-start;

        .container{

            .body-container{

                .stats-container, .orders-container{
                    width: calc(100% - 330px);
                }
            }
        }
    }

    .container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: start;
        flex-direction: column;
        gap: 40px;
        margin-left: 120px; 
        padding: 50px 0 50px 0;

        .head-container{
            width: 100%;

            .user-greeting{
                display: flex;
                align-items: center;
                gap: 30px;

                .ava-profile{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                h3{
                    font-size: 24px;
                    color: $color-neutral-light;
                    text-transform: capitalize;
                }
            }
        }

        .body-container{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .stats-container, .orders-container{
                width: calc(100% - 330px);
            }

            .stats-container{
                display: flex;
                flex-direction: column;
                gap: 20px;

                .head-content{

                    h3{
                        font-size: 20px;
                        text-transform: capitalize;
                        color: $color-neutral-light
                    }
                }

                .body-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10px;

                    .stats-box{
                        width: 350px;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 20px;
                        padding: 15px;
                        background: $color-surface;
                        border-radius: 35px;
                        box-shadow: 0px 5px 10px rgba(0,0,0,0.3);

                        .box-icon{
                            width: 70px;
                            height: 70px;
                            display: flex;
                            align-items: center;
                            justify-content: center; 
                            background: $color-secondary;
                            border-radius: 20px;   
                            box-shadow: 0 12px 20px -3px rgba(25, 237, 177, .6);

                            i{  
                                font-size: 30px;
                                color: $color-surface;
                            }
                        }

                        .box-desc{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h2{
                                font-size: 16px;
                                text-transform: capitalize;
                                color: $color-neutral-light;
                            }

                            .counted{

                                h2{
                                    font-size: 20px;
                                }
                            }
                        }

                        .status{
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            i{
                                font-size: 14px;
                                color: $color-secondary;

                                &.fa-arrow-trend-down{
                                    color: $color-primary;
                                }
                            }

                            h2{
                                font-size: 16px;
                                color: $color-neutral-light;
                            }
                        }
                    }
                }
            }

            .orders-container{
                display: flex;
                flex-direction: column;
                gap: 20px;

                .head-content{

                    h3{
                        font-size: 20px;
                        text-transform: capitalize;
                        color: $color-neutral-light
                    }
                }

                .body-content{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 100%;

                    .orders-box{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px;
                        border-radius: 20px;
                        overflow: hidden;

                        &:hover{
                            background: $color-surface;
                            box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
                        }

                        .orders-profile{
                            display: flex;
                            gap: 20px;

                            .box-icon{
                                min-width: 60px;
                                width: 60px;
                                min-height: 60px;
                                height: 60px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 20px;
                                background: $color-primary;  
                                box-shadow: 0 10px 15px -3px rgba(237, 25, 85, .7);
    
                                i{
                                    font-size: 36px;
                                    color: $color-background;
                                }
                            }
    
                            .orders-desc{
                                width: 400px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 5px;
                                color: $color-neutral-light;
    
                                .orders-name{
                                    font-size: 26px;
                                    text-transform: capitalize;
                                }
                                
                                .date{
                                    font-size: 14px;
                                    opacity: .5;
                                }
                            }
                        }

                        .orders-price{
                            width: 170px;
                            font-size: 20px;
                            color: $color-neutral-light;
                        }

                        .orders-status{
                            width: 100px;
                            text-align: center;
                            font-size: 18px;

                            &.success{
                                color: $color-success;
                            }
                            &.pending{
                                color: $color-pending;
                            }
                            &.error{
                                color: $color-error;
                            }
                        }

                        .orders-menu{
                            font-size: 22px;
                            color: $color-neutral-light;
                            cursor: pointer;
                        }
                    }
                }
            }

            .employees-container{
                position: absolute;
                top: 0;
                right: 20px;
                width: 280px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .head-content{

                    h3{
                        font-size: 20px;
                        text-transform: capitalize;
                        color: $color-neutral-light
                    }
                }

                .body-content{
                    background: $color-surface;
                    border-radius: 30px;
                    padding: 10px;
                    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);

                    .employee-box{
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 10px;

                        .ava-profile{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            overflow: hidden;
                        }

                        .employee-profile{
                            color: $color-neutral-light;
                            
                            .profile-name{
                                text-transform: capitalize;
                            }

                            .profile-job{
                                margin-top: 5px;
                                font-size: 12px;
                                opacity: .5;
                            }
                        }

                        .employee-status{
                            position: absolute;
                            right: 10px;
                            display: flex;
                            align-items: center;
                            color: $color-primary;
                            font-size: 12px;
                            gap: 5px;

                            i{
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background: $color-primary;
                            }

                            &.active{
                                color: $color-secondary;

                                i{
                                    background: $color-secondary;
                                    box-shadow: 0px 0px 8px 1px;
                                }
                            }
                        }

                        &:not(:last-child){
                            border-bottom: 1px solid rgba(13, 17, 23, .7);
                        }
                    }
                }
            }
        }
    }
}

// ========== Header
header{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 80px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    z-index: 100;

    .head-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-background;
        width: 200px;

        i{
            font-size: 40px;
        }

        h1{
            font-size: 32px;
            font-family: $head-font;
            text-transform: capitalize;
        }
    }

    nav{

        ul{
            display: flex;
            align-items: center;
            gap: 30px;

            li{

                a{
                    font-size: 20px;
                    font-weight: 800;
                    text-transform: capitalize;
                    color: $color-background;
                }
            }
        }
    }

    .feature{

        ul{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 200px;

            li{
                width: 30px;
                height: 30px;
                font-size: 24px;
                color: $color-background;
                display: flex;
                align-items: center;
                justify-content: center;

                &:last-child{
                    display: none;
                    opacity: 1;

                    &::before{
                        position: absolute;
                        content: '\f00d';
                        font-family: "Font Awesome 6 Free"; 
                        display: flex;
                        font-weight: 700;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        opacity: 0;
                    }

                    &.show{

                        i{
                            opacity: 0;
                        }

                        &::before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &.sticky{

        .head-title{
            color: $color-neutral-light;
        }

        nav{

            ul{

                li{

                    a{
                        color: $color-neutral-light;
                    }
                }
            }
        }

        .feature{

            ul{

                li{
                    color: $color-neutral-light;
                }
            }
        }
    }
}

// ========== Home Section
.home-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .background-image{
        position: absolute;
        inset: 0;
        z-index: -1;

        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            background: $color-background;
            opacity: .5;
            z-index: 1;
        }
    }

    .head-title{
        font-size: 100px;
        font-family: $head-font;
        font-weight: 700;
        text-align: center;
        text-transform: capitalize;
        color: $color-background;
    }

    .subtitle{
        font-size: 16px;
        color: $color-surface;
        text-align: center;
    }

    .discover-btn{
        font-size: 18px;
        color: $color-background;
        text-transform: capitalize;
    }
}

// ========== Gallery Section
.gallery-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: $color-surface;
    gap: 50px;

    .head-container{
        text-align: center;
        color: $color-neutral-light;

        .head-title{
            font-size: 40px;
            font-weight: 800;
            text-transform: capitalize;
            font-family: $head-font;
        }

        .subtitle{
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .body-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        z-index: 1;

        .gallery-item{
            position: relative;
            width: 100px;
            height: 350px;
            display: flex;
            align-items: flex-end;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            overflow: hidden;
            transition: all 500ms ease;

            &.active{
                width: 300px;
                cursor: auto;

                .like-button, .expand-img{
                    display: flex;
                    animation: zoom_bounce 1000ms ease;
                    scale: (1);
                }

                .desc-pict{
                    opacity: 1;

                    p{
                        opacity: 1;
                        animation: zoom_bounce 1000ms ease;
                        scale: (1);
                    }
                }
            }

            &.expanded{

                .like-button, .expand-img, .desc-pict{
                    opacity: 0;
                }

                .expand-img{

                    i{

                        &::after{
                            content: '\f066';
                        }
                    }
                }

                &:hover{
                    
                    .like-button{
                        pointer-events: none;
                    }
                    
                    .expand-img{
                        opacity: 1;

                        i{
                            color: $color-neutral-light;

                            &::after{
                                opacity: 1;
                                color: $color-secondary;
                            }
                        }
                    }
                }
            }

            img{
                position: absolute;
                inset: 0;
                z-index: -1;
            }

            .like-button, .expand-img{
                position: absolute;
                width: 50px;
                height: 50px;
                display: none;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                backdrop-filter: blur(20px);
                background: rgba(0,0,0,0.2);
                border: 1px solid rgba(255,255,255,0.25);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                transition-delay: 200ms;
                transition: all 600ms ease;

                i{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                    color: $color-secondary;
                    z-index: 1;
                    cursor: pointer;

                    &::after{
                        position: absolute;
                        font-size: 20px;
                        transition: all 300ms ease;
                    }
                }
            }

            .like-button{
                top: 10px;
                right: 10px;

                i{

                    &::after{
                        @include icon-requirements('\f004');
                        opacity: 0;
                    }

                    &.liked{
                        color: $color-primary;
                        animation: zoom_bounce 500ms ease;

                        &::after{
                            opacity: 1;
                            color: $color-primary;
                        }
                    }
                }
            }

            .expand-img{
                top: 70px;
                right: 10px;

                i{

                    &::after{
                        @include icon-requirements('\f065')
                    }
                }
            }

            .desc-pict{
                width: 100%;
                height: fit-content;
                max-height: 210px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 5px;
                backdrop-filter: blur(20px);
                background: rgba(0,0,0,0.2);
                border: 1px solid rgba(255,255,255,0.25);
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                border-right: 1px solid rgba(255, 255, 255, 0.1);
                opacity: 0;
                overflow: hidden;
                transition-delay: 200ms;
                z-index: -1;

                p{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    opacity: 0;
                    scale: (0);
                    color: $color-neutral-light;
                    @include words-limit(10);
                }
            }
        }
    }
}

@media (max-width: 1420px){

    .dashboard{
        
        &.expand-navigation{

            .container{

                .body-container{

                    .orders-container{

                        .body-content{

                            .orders-box{
                                align-items: flex-start;
                                flex-direction: column;
                                gap: 20px;

                                .orders-status{
                                    text-align: start;
                                }

                                .orders-menu{
                                    position: absolute;
                                    top: calc(50% - 10px);
                                    right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1285px){

    .dashboard{

        .container{

            .body-container{

                .orders-container{

                    .body-content{

                        .orders-box{
                            align-items: flex-start;
                            flex-direction: column;
                            gap: 20px;

                            .orders-status{
                                text-align: start;
                            }

                            .orders-menu{
                                position: absolute;
                                top: calc(50% - 10px);
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1135px){
    
    .dashboard{

        .aside-navigation{

            nav{

                ul{

                    li:first-child{
                        display: none;
                    }
                }
            }
        }
    }
}
@media (max-width: 1003px){

    .gallery-section{

        .body-container{
            flex-direction: column;

            .gallery-item{
                width: 300px;
                height: 100px;

                &.active{
                    height: 350px;
                }
            }
        }
    }
}
@media (max-width: 970px){

    .dashboard{

        .container{

            .body-container{
                height: 100%;

                .stats-container, .orders-container{
                    width: 100%;
                }

                .employees-container{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@media (max-width: 870px){

    header{

        nav{
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100vh;
            display: none;
            align-items: center;
            justify-content: center;

            &::before{
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background: $color-surface;
                opacity: .6;
                z-index: -1;
            }

            ul{
                flex-direction: column;
                align-items: center;

                li{
                    opacity: 0;
                    
                    a{
                        color: $color-neutral-light;
                        background: $color-surface;
                        border: 2px solid $color-background;
                        padding: 8px 30px;
                        border-radius: 30px;
                        
                        &:hover{
                            background: $color-surface;
                            border: 2px solid $color-background;
                            border-left: 10px solid $color-background;
                            border-right: 10px solid $color-background;
                        }
                    }
                }
            }
            
            &.show{
                display: flex;

                ul{

                    li{
                        animation: zoom_bounce 1000ms ease forwards;

                        &:nth-child(2){
                            animation-delay: .1s;
                        }
                        &:nth-child(3){
                            animation-delay: .2s;
                        }
                        &:nth-child(4){
                            animation-delay: .3s;
                        }
                        &:nth-child(5){
                            animation-delay: .4s;
                        }
                    }
                }
            }
        }

        .feature{
            
            ul{

                li:last-child{
                    display: flex;
                }
            }
        }
    }
}
@media (max-width: 640px){

    .dashboard{

        .aside-navigation{
            width: 100%;
            height: 60px;
            border-radius: 0 0 20px 20px;
            align-items: center;
            flex-direction: row;
            padding: 5px 10px;

            .head-logo{
                position: relative;
            }

            nav{
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0;

                ul{
                    flex-direction: row;

                    li:not(:last-child){
                        display: none;
                    }

                    li:last-child{
                        position: relative;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .container{
            padding: 100px 20px 40px 20px;
            margin-left: 0;

            .body-container{

                .orders-container{

                    .body-content{

                        .orders-box{

                            .orders-profile{

                                .orders-desc{
                                    width: 100%;
                            
                                    .orders-name{
                                        font-size: 20px;
                                    }
                                }
                            }

                            .orders-price{
                                width: 100%;
                                font-size: 16px;
                            }

                            .orders-status{
                                font-size: 14px;
                            }
                        }
                    }
                }

                .employees-container{
                    right: 0;
                }
            }
        }
    }
}
@media (max-width: 520px){

    section{
        padding: 100px 20px 20px 20px;
    }

    header{
        padding: 0 20px;
        
        .head-title{
            width: 150px;

            i{
                font-size: 30px;
            }

            h1{
                font-size: 24px;
            }
        }

        .feature{
    
            ul{
    
                li{
                    width: 24px;
                    height: 24px;
                
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .home-section{

        .head-title{
            font-size: 60px;
            line-height: 60px;
        }

        .subtitle{
            font-size: 12px;
        }
    }
}
@media (max-width: 490px){
    
    .login-page{

        .login-container{
            width: 300px;
            height: 400px;
            border-radius: 30px;

            .login-box, .signup-box{
                padding: 20px 20px 20px 20px;
                width: 300px;
                height: 400px;
            
                .head-title{
                    font-size: 26px;
                }

                form{
                    gap: 5px;

                    .input-box, .submit{
                        height: 30px;
                        padding: 10px;

                        i{
                            font-size: 14px;
                        }

                        input{
                            width: 200px;
                            font-size: 14px;
                        }
                    }
                    
                    .submit{
                        font-size: 12px;
                    }

                    .fp-password{
                        font-size: 12px;
                    }
                }
            }

            .account-confirmation{
                
                h5, button{
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 1285px){}
@media (max-width: 1285px){}
@media (max-width: 1285px){}
@media (max-width: 1285px){}
@media (max-width: 1285px){}
@media (max-width: 1285px){}
@media (max-width: 1285px){}
@media (max-width: 1285px){}
